/* default color: #FF3300 */
#mainmenu li li a:hover,
.price-row,
.blog-list .date,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
.btn-primary,
.bg-id-color,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.blog-list .date-box .day,
.bloglist .date-box .day,
.feature-box-small-icon .border,
.small-border,
#jpreBar,
.de-gallery .overlay .icon i,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.btn-border:hover,a.btn-border:hover,
.btn-border.hover,a.btn-border.hover,
#contact_form input[type=submit]:hover,#contact-form button[type=submit]:hover,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info,
span.overlay,.social-icons i,#mainmenu li li a:hover,#view-all-projects
{
	background-color:#FF3300;
}

a,
.feature-box i,
#mainmenu li:hover > ul,#mainmenu li li a:hover
.date-box .day,
.slider_text h1,
.id-color,
.pricing-box li h1,
.title span,
i.large:hover,
.feature-box-small-icon-2 i,
address span i,
.pricing-dark .pricing-box li.price-row,
#mainmenu a:hover,
#mainmenu a.active,
header.smaller #mainmenu a:hover,
header.smaller #mainmenu a.active,
.pricing-dark .pricing-box li.price-row,
.dark .feature-box-small-icon i,
a.btn-slider:after,
.feature-box-small-icon i,
a.btn-border:after,
.team-list .social a,
.de_contact_info i,
.de_count,
.de_testi blockquote:before,
.dark .btn-border:hover:after, .dark a.btn-border:hover:after, .dark a.btn-border.hover:after,
a.btn-text:after,.dark a:hover, .dark a:focus
{
	color:#FF3300;
}

.feature-box i,
#filters a:hover,
#filters a.selected,

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
.feature-box-big-icon i:after,
.social-icons i,
.btn-border:hover,a.btn-border:hover,
.btn-border.hover,a.btn-border.hover
{

	border-color:#FF3300;
}

.box-fx .inner,
.dark .box-fx .inner{
	border-bottom-color:#FF3300;
}
.dark ul.tabs_container li.tab span {border-top: 3px solid #FF3300;}
.callbacks_nav {
	background-color:#FF3300;
}

.widget_category li{
	border-left:solid 3px #FF3300;
}

.de_tab .de_nav li span {
	border-top: 3px solid #FF3300;
}

.feature-box-big-icon i:after {
	border-color: #FF3300 transparent; /*same colour as the lower of the bubble's gradient*/
}

.de_review li.active img{
	border:solid 4px #FF3300;
}

.red{color:#ff0000 !important;}
.teal{color:#009999 !important;}
.purple{color:#663366 !important;}
.green{color:#009900 !important;}

